.first {
	text-decoration: underline;
}
.rahul {
	border: solid;
}
.coac {
	margin-left: 60px; 
}
.krishna {
	text-align: right;
}
.second {
	color: blue;
	text-decoration: underline;
}